/* typography
    primary : roboto
    secondary : popins
*/
/* color
    primary : #333333
    secondary :#FCC822

*/
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: roboto,sans-serif;/ */
    font-weight: 400;
    color: #333333;
}

header{
    width: 100%;
    height: 100vh;
   
}
.hero{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.image img{
    max-width: 300px;
    max-width: 400px;
    object-fit: cover;
}
.image {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.btns{
    padding: 40px 0px;
    font-family: Poppins,sans-serif;
    display: flex;
    align-items: center;
    gap: 50px;
}
.btn-1{
    background-color: #FCC822;
    color: #ffff;
    padding: 10px 20px;
    
}
.btn-2{
    color: #FCC822;
}

p span{
    padding-right: 5px;
    border-left: 1px solid #333333;
}
.blob{
    position: relative;
}
.blob img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 50;
}

.text p{
    font-family: Roboto,sans-serif;
    font-size: 20px;
    color: #b3b1b1;
    margin-bottom: 10px;
}
.text-hero h1{
    font-size: 3.5rem;
    font-family: Roboto, sans-serif;
    padding-bottom: 50px;
}
.image .svg{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav{
    width: 90%;
    margin: 40px auto ;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #0066FF;
    padding-bottom: 20px;
}

ul li,a{
    list-style: none;
    text-decoration: none;
}

.nav-link{
    display: flex;
    justify-content: space-between;
    gap: 56px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    padding: 0px 20px 0px 0px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
}
.menu li a{
    color: #b3b1b1;
}
 ul li,a{
    text-decoration: none;
}
nav .logo{
    font-family: 'Poppins',sans-serif;
    color: #FCC822;
    font-size: 1.8rem;
    /* font-weight: bold; */
}

.logo span{
    color: #333333;
    font-weight: bolder;
}

.nav-link .btn{
    text-decoration: none;
    color: #FCC822;
    font-family: 'Poppins',sans-serif;
    border: 2px solid #FCC822;
    padding: 5px 30px;
}
.btn a{
    color: #FCC822;
    font-size: 14px;
}
.btn:hover{
    color: #ffff;
    background-color: #FCC822;
    transition: ease-in 0.2s;
    
}


