/* typography
    primary : roboto
    secondary : popins
*/
/* color
    primary : #333333
    secondary :#FCC822

*/
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: roboto,sans-serif;/ */
    font-weight: 400;
    color: #333333;
}

header{
    width: 100%;
    height: 100vh;
   
}
nav{
    width: 90%;
    margin: 40px auto ;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #cac9c9;
    padding-bottom: 20px;
}

ul li,a{
    list-style: none;
    text-decoration: none;
}

.nav-link{
    display: flex;
    justify-content: space-between;
    gap: 56px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    padding: 0px 20px 0px 0px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
}
.menu li a{
    color: #b3b1b1;
}
 ul li,a{
    text-decoration: none;
}
nav .logo{
    font-family: 'Poppins',sans-serif;
    color: #FCC822;
}
.logo span{

    color: #333333;
}

.nav-link .btn{
    text-decoration: none;
    color: #FCC822;
    font-family: 'Poppins',sans-serif;
    border: 2px solid #FCC822;
    padding: 5px 30px;
}
.btn a{
    color: #FCC822;
    font-size: 14px;
}

